In [52]:
import numpy as np
import pandas as pd

url = 'https://www.data.go.kr/download/15013110/standard.do?dataType=csv'
raw_df = pd.read_csv(url,encoding='cp949')

# 전국 평생학습 강좌 표준데이터

- drop: 교육시작시각, 교육 종료 시각, 강좌내용, 운영기관전화번호

- column 별 적절한 dtype지정 --> astype()이용
- (원본값 수정방법, 1. 현재값 업데이트, 2. astype()의 키워드 옵션사용)
- astype() 의 키워드 옵션 사용방법 --> 수치값 np.inta64/ np.float64
- 종류를 구분하는 문자열(label) : category
- 날짜 np.datetime64
- 이외 object

- 전체 DataFrame에 대한 describe()결과보기
- 키보드옵션은 Documentation 참조

- 항목 (column)별 결측치/오류치/이상치 갯수파악하기

In [53]:
raw_df.shape
raw_df= raw_df.drop(['교육시작시각', '교육종료시각', '강좌내용', '운영기관전화번호'], axis = 1)

In [54]:
raw_df.dtypes

강좌명                object
강사명                object
교육시작일자             object
교육종료일자             object
교육대상구분             object
교육방법구분             object
운영요일               object
교육장소               object
강좌정원수               int64
수강료                 int64
교육장도로명주소           object
운영기관명              object
접수시작일자             object
접수종료일자             object
접수방법구분             object
선정방법구분             object
홈페이지주소             object
직업능력개발훈련비지원강좌여부    object
학점은행제평가(학점)인정여부    object
평생학습계좌제평가인정여부      object
데이터기준일자            object
제공기관코드             object
제공기관명              object
dtype: object

In [55]:
raw_df[['교육시작일자', '교육종료일자']] = raw_df[['교육시작일자', '교육종료일자']].astype(np.datetime64)

In [56]:
raw_df.dtypes

강좌명                        object
강사명                        object
교육시작일자             datetime64[ns]
교육종료일자             datetime64[ns]
교육대상구분                     object
교육방법구분                     object
운영요일                       object
교육장소                       object
강좌정원수                       int64
수강료                         int64
교육장도로명주소                   object
운영기관명                      object
접수시작일자                     object
접수종료일자                     object
접수방법구분                     object
선정방법구분                     object
홈페이지주소                     object
직업능력개발훈련비지원강좌여부            object
학점은행제평가(학점)인정여부            object
평생학습계좌제평가인정여부              object
데이터기준일자                    object
제공기관코드                     object
제공기관명                      object
dtype: object

In [57]:
raw_df[[ '운영요일', '접수시작일자', '접수종료일자', '데이터기준일자', '제공기관코드', '강좌정원수']]

                운영요일      접수시작일자      접수종료일자     데이터기준일자   제공기관코드  강좌정원수
0      월+화+수+목+금+토+일  2022-01-01  2022-12-31  2022-11-23  4670000    100
1      월+화+수+목+금+토+일  2022-01-01  2022-12-31  2022-11-23  4670000    100
2      월+화+수+목+금+토+일  2022-01-01  2022-12-31  2022-11-23  4670000    100
3      월+화+수+목+금+토+일  2022-01-01  2022-12-31  2022-11-23  4670000    100
4      월+화+수+목+금+토+일  2022-01-01  2022-12-31  2022-11-23  4670000    100
...              ...         ...         ...         ...      ...    ...
26530              목  2022-09-05  2022-09-30  2022-09-29  3180000     20
26531              금  2022-09-05  2022-09-30  2022-09-29  3180000     12
26532              금  2022-09-05  2022-09-30  2022-09-29  3180000     15
26533              금  2022-09-05  2022-09-30  2022-09-29  3180000     15
26534              금  2022-09-05  2022-09-30  2022-09-29  3180000     15

[26535 rows x 6 columns]

In [58]:
raw_df[['접수시작일자', '접수종료일자', '데이터기준일자']] = raw_df[['접수시작일자', '접수종료일자', '데이터기준일자']].astype(np.datetime64)

In [59]:
raw_df['운영요일'] = raw_df['운영요일'].astype('category')
raw_df[['교육대상구분', '교육방법구분', '접수방법구분', '선정방법구분', '직업능력개발훈련비지원강좌여부', '학점은행제평가(학점)인정여부', '평생학습계좌제평가인정여부', '제공기관코드']] = raw_df[['교육대상구분', '교육방법구분', '접수방법구분', '선정방법구분', '직업능력개발훈련비지원강좌여부', '학점은행제평가(학점)인정여부', '평생학습계좌제평가인정여부', '제공기관코드']].astype('category')

In [60]:
raw_df.dtypes

강좌명                        object
강사명                        object
교육시작일자             datetime64[ns]
교육종료일자             datetime64[ns]
교육대상구분                   category
교육방법구분                   category
운영요일                     category
교육장소                       object
강좌정원수                       int64
수강료                         int64
교육장도로명주소                   object
운영기관명                      object
접수시작일자             datetime64[ns]
접수종료일자             datetime64[ns]
접수방법구분                   category
선정방법구분                   category
홈페이지주소                     object
직업능력개발훈련비지원강좌여부          category
학점은행제평가(학점)인정여부          category
평생학습계좌제평가인정여부            category
데이터기준일자            datetime64[ns]
제공기관코드                   category
제공기관명                      object
dtype: object

In [61]:
raw_df.describe(include = 'all')

/var/folders/br/8bbtv7t175s4k3b2shs9n46m0000gn/T/ipykernel_33200/382257917.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_df.describe(include = 'all')
/var/folders/br/8bbtv7t175s4k3b2shs9n46m0000gn/T/ipykernel_33200/382257917.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_df.describe(include = 'all')
/var/folders/br/8bbtv7t175s4k3b2shs9n46m0000gn/T/ipykernel_33200/382257917.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_df.describe(include = 'all')
/var/folders/br/8bbtv7t175s4k3b2shs9n46m0000gn/T/ipykernel_33200/382257917.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_df.describe(include = 'all')
/var/folders/br/8bbtv7t175s4k3b2shs9n46m0000gn/T/ipykernel_33200/382257917.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  raw_df.describe(include = 'all')

,강좌명,강사명,교육시작일자,교육종료일자,교육대상구분,교육방법구분,운영요일,교육장소,강좌정원수,수강료,...,접수종료일자,접수방법구분,선정방법구분,홈페이지주소,직업능력개발훈련비지원강좌여부,학점은행제평가(학점)인정여부,평생학습계좌제평가인정여부,데이터기준일자,제공기관코드,제공기관명
count,26535,26535,26535,26535,26535,26535,22007,23755,26535.000000,2.653500e+04,...,21474,26535,22273,24221,26535,26535,26535,26535,26535,26535
unique,20124,9850,1196,1296,702,9,218,3280,NaN,NaN,...,1012,170,72,653,4,4,4,158,326,326
top,캘리그라피,MBC씨앤아이,2022-01-01 00:00:00,2022-12-31 00:00:00,지역주민,오프라인,목,평생학습관,NaN,NaN,...,2022-12-31 00:00:00,인터넷,선착순,www.osanedu.go.kr,N,N,N,2022-11-23 00:00:00,5670000,경상남도 창원시
freq,104,211,1415,2226,7288,20491,2556,675,NaN,NaN,...,2148,10657,16861,1298,23404,23572,23085,2330,1393,1393
first,NaN,NaN,2000-01-01 00:00:00,1900-01-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1902-10-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31 00:00:00,NaN,NaN
last,NaN,NaN,2023-12-20 00:00:00,2023-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,2023-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-06 00:00:00,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.489768,2.768765e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8682.492064,5.259617e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,5.000000e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,4.000000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999999.000000,2.000000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
print(raw_df.isnull().sum())

강좌명                   0
강사명                   0
교육시작일자                0
교육종료일자                0
교육대상구분                0
교육방법구분                0
운영요일               4528
교육장소               2780
강좌정원수                 0
수강료                   0
교육장도로명주소              0
운영기관명                 0
접수시작일자             5019
접수종료일자             5061
접수방법구분                0
선정방법구분             4262
홈페이지주소             2314
직업능력개발훈련비지원강좌여부       0
학점은행제평가(학점)인정여부       0
평생학습계좌제평가인정여부         0
데이터기준일자               0
제공기관코드                0
제공기관명                 0
dtype: int64

In [63]:
raw_df['운영요일'].value_counts()
# 운영요일별 카운트시 운영요일을 특정할 수 없으므로 삭제하기로함.

목            2556
화            2524
수            2434
월            1937
금            1851
             ...
월, 목            1
월+화+토           1
월+화+수+금+토       1
월+화+목+토         1
화요일~금요일         1
Name: 운영요일, Length: 218, dtype: int64

In [64]:
raw_df['교육장소'].value_counts()

# 만약, '교육방법구분'이 온라인일 경우, '온라인'으로 결측치를 대체 없을경우 삭제

# bool list 필터링 사용
raw_df['교육방법구분']

0         온라인
1         온라인
2         온라인
3         온라인
4         온라인
         ...
26530    오프라인
26531    오프라인
26532    오프라인
26533    오프라인
26534    오프라인
Name: 교육방법구분, Length: 26535, dtype: category
Categories (9, object): ['방문교육', '오프라인', '오프라인+모바일+우편통신', '오프라인+방문교육', ..., '온라인', '온라인+모바일', '온라인+오프라인', '혼합']

In [65]:
raw_df.loc[(raw_df['교육방법구분'] == '온라인') & (raw_df['교육장소'].isnull()), '교육장소'] = '온라인'

In [67]:
print(raw_df.isnull().sum())

강좌명                   0
강사명                   0
교육시작일자                0
교육종료일자                0
교육대상구분                0
교육방법구분                0
운영요일               4528
교육장소               1829
강좌정원수                 0
수강료                   0
교육장도로명주소              0
운영기관명                 0
접수시작일자             5019
접수종료일자             5061
접수방법구분                0
선정방법구분             4262
홈페이지주소             2314
직업능력개발훈련비지원강좌여부       0
학점은행제평가(학점)인정여부       0
평생학습계좌제평가인정여부         0
데이터기준일자               0
제공기관코드                0
제공기관명                 0
dtype: int64