In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

url1 = 'https://www.data.go.kr/download/15034538/standard.do?dataType=csv'
url2 = 'https://www.data.go.kr/download/15034536/standard.do?dataType=csv'

raw_data1 = pd.read_csv(url1, encoding='cp949')
raw_data2 = pd.read_csv(url2, encoding='cp949')



pd_hydrant = raw_data1[['시도명', '소재지도로명주소', '위도', '경도']]
pd_parking = raw_data2[['시도명', '소재지도로명주소', '위도', '경도']]

In [46]:
print(raw_data1.shape)
print(raw_data2.shape)

(50000, 19)
(3492, 17)

In [47]:
pd_final = pd.concat((pd_hydrant, pd_parking), axis = 0, keys=['hydrant', 'parking'])

In [48]:
pd_final.reset_index(inplace = True)
pd_final.drop('level_1', axis= 1, inplace=True)
cname_list= list(pd_final.columns)
cname_list[0] = '종류'
pd_final.columns = cname_list
pd_final

,종류,시도명,소재지도로명주소,위도,경도
0,hydrant,서울특별시,서울특별시 금천구 가산디지털2로 36 g밸리 더리브 스마트타워,37.471257,126.882859
1,hydrant,서울특별시,서울특별시 금천구 가산디지털1로 171 수위실,37.481101,126.881118
2,hydrant,서울특별시,서울특별시 금천구 두산로3길 49 가산동제2경노당,37.472620,126.888857
3,hydrant,서울특별시,서울특별시 금천구 벚꽃로 208 경비실,37.473484,126.886718
4,hydrant,서울특별시,서울특별시 금천구 가산디지털2로 169 수위실,37.482797,126.877303
...,...,...,...,...,...
53487,parking,울산광역시,울산광역시 울주군 범서읍 백천2길 88(굴화리),35.555881,129.252353
53488,parking,울산광역시,울산광역시 울주군 범서읍 천상3길 11(천상리),35.563268,129.227627
53489,parking,울산광역시,울산광역시 울주군 범서읍 장검길 143(굴화리),35.547636,129.249708
53490,parking,울산광역시,울산광역시 울주군 범서읍 장검길 143(굴화리),35.547636,129.249708
53491,parking,전라북도,전라북도 정읍시 첨단1로 47,35.507091,126.840867

In [52]:
result1 = pd_final.groupby(['시도명', '종류']).size().reset_index(name='counts')
result1

        시도명       종류  counts
0       강원도  parking     243
1       경기도  parking     284
2      경상남도  parking     111
3     광주광역시  parking       8
4     대구광역시  hydrant     130
5     대구광역시  parking       6
6     대전광역시  parking      58
7     부산광역시  hydrant    6440
8     부산광역시  parking      18
9     서울특별시  hydrant   43430
10  세종특별자치시  parking       8
11    울산광역시  parking    2368
12    인천광역시  parking     172
13     전라남도  parking      95
14     전라북도  parking      32
15  제주특별자치도  parking       1
16     충청남도  parking      20
17     충청북도  parking      68

In [53]:
result2 = pd_final.groupby(['종류', '시도명']).size().reset_index(name='counts')
result2

         종류      시도명  counts
0   hydrant    대구광역시     130
1   hydrant    부산광역시    6440
2   hydrant    서울특별시   43430
3   parking      강원도     243
4   parking      경기도     284
5   parking     경상남도     111
6   parking    광주광역시       8
7   parking    대구광역시       6
8   parking    대전광역시      58
9   parking    부산광역시      18
10  parking  세종특별자치시       8
11  parking    울산광역시    2368
12  parking    인천광역시     172
13  parking     전라남도      95
14  parking     전라북도      32
15  parking  제주특별자치도       1
16  parking     충청남도      20
17  parking     충청북도      68

In [51]:
pd_final

,종류,시도명,소재지도로명주소,위도,경도
0,hydrant,서울특별시,서울특별시 금천구 가산디지털2로 36 g밸리 더리브 스마트타워,37.471257,126.882859
1,hydrant,서울특별시,서울특별시 금천구 가산디지털1로 171 수위실,37.481101,126.881118
2,hydrant,서울특별시,서울특별시 금천구 두산로3길 49 가산동제2경노당,37.472620,126.888857
3,hydrant,서울특별시,서울특별시 금천구 벚꽃로 208 경비실,37.473484,126.886718
4,hydrant,서울특별시,서울특별시 금천구 가산디지털2로 169 수위실,37.482797,126.877303
...,...,...,...,...,...
53487,parking,울산광역시,울산광역시 울주군 범서읍 백천2길 88(굴화리),35.555881,129.252353
53488,parking,울산광역시,울산광역시 울주군 범서읍 천상3길 11(천상리),35.563268,129.227627
53489,parking,울산광역시,울산광역시 울주군 범서읍 장검길 143(굴화리),35.547636,129.249708
53490,parking,울산광역시,울산광역시 울주군 범서읍 장검길 143(굴화리),35.547636,129.249708
53491,parking,전라북도,전라북도 정읍시 첨단1로 47,35.507091,126.840867